.mixer-channel-strip {
  width: 10%;
  height: calc(100% - 64px);
  /* outline:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
}

.mixer-channel-strip-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}

.channel-strip-fader{
  margin-top:32px;

}
