.sequencer {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.sequencer-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
}

.sequencer-tile {
  flex: 1;
}

.sequencer-bottomnav {
  height: 30px !important;
}

.sequencer-row-label {
  position: absolute;
  height: 100% !important;
  vertical-align: middle !important;
  /* line-height: 100% !important; */

  pointer-events: none;
  color: white !important;
  /* mix-blend-mode: difference;
  filter: saturate(0); */
  width: calc(100% - 8px);
  transition: 0.2s;
  left: 4px;
}
