.sampler-audio-clip {
  display: flex;
  border-radius: 4px;
  opacity: 0.8;
  overflow: hidden;
}

.sampler-audio-clip:hover {
  cursor: grab;
}

.sampler-audio-clip:active {
  cursor: grabbing;
}

.sampler-audio-clip-wave {
  height: 100%;
  pointer-events: none;
}

.audioclip-text {
  position: absolute;
  top: 0;
  left: 0;
  color: white !important;
}
