.session-gallery-item {
  height: 240px;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around !important;

  padding: 8px;
  position: relative;
  /*  margin: 16px; */
}
.session-gallery-item > * {
  margin: 4px 0;
}

.session-gallery-item-compact {
  height: auto;
  height: 192px;
  flex-direction: column;
  align-items: center;
  padding: 8px !important;
}

.session-gallery-item-title {
  text-align: center;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  margin: 0 16px;
}
.session-gallery-item-subtitle {
  width: 80%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-gallery-item-subtitle > span,
.session-gallery-item-subtitle > p {
  max-width: 60;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.session-gallery-item-subtitle-avatar {
  height: 24px !important;
  width: 24px !important;
  margin-right: 8px;
}

.session-gallery-item-title-cont {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-gallery-item-track-cont {
  display: flex;
  flex-direction: row;
  height: 30px !important;
  width: 80%;
  /* margin: 16px; */
  justify-content: center;
  transition: background-color 0.1s;
}

/* .session-gallery-item-compact > .session-gallery-item-track-cont {
  flex: 0 1 72px;
  margin: 16px !important;
} */

.session-gallery-item-hovered {
  background-color: #00000011 !important;
  cursor: pointer;
}

.session-gallery-item-sessionInfo {
  position: relative;
  flex: 1 1 1px !important;
  /* TEMP: avoid letters cutting in half */
  max-height: 100px;

  display: flex;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center;
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.session-gallery-item-sessionInfo-text {
  max-height: 100%;
  text-overflow: ellipsis;
}

.session-gallery-item-tags {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.session-gallery-item-track {
  height: 100%;
  max-width: 30px;
  flex-grow: 1;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-gallery-item-footer {
  margin-top: 8px !important;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.session-gallery-item-editname-button {
  position: absolute !important;
  height: 16px !important;
  width: 16px !important;
  top: 12px !important;
  right: 8px !important;
}

.session-gallery-item-editname-button span {
  font-size: 16px !important;
}

@media only screen and (max-width: 480px) {
  .session-gallery-item {
    flex-grow: 1 !important;
  }
}
