.background-grid {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0;
  left: 0;
}

.background-grid-item {
  flex: 1 1 1px;
  position: relative;
}

.background-grid-item-num {
  position: absolute !important;
  user-select: none;
  color: white;
  top: 4px;
  left: 4px;
  z-index: 1;
}
