.sampler {
  background-color: "";
  height: 100%;
  width: 100%;
  overflow-y: hidden !important;

  position: relative;
}

.sampler-cursor {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 1px;
  top: 0px;
  transition: width 0.3s;
}

.sampler-cursor:hover {
  width: 2px;
  margin-left: -1px;
  cursor: grab;
}

.sampler-cursor:hover {
  cursor: grabbing;
}
