.session-explorer-page {
  position: absolute;
  width: 100%;
  top: 0;
  flex: 1 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 0 128px 0;
}

.session-explorer-grid-cont {
  position: relative;
  max-width: 1200px;
  width: calc(100% - 32px);
  flex: 1 0;

  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 1200px;
}

.session-explorer-compact {
  margin: 2px;
  height: 100% !important;

  width: 100% !important;
  padding: 0 !important;

}

.session-explorer-compact > div {
  overflow-y: overlay;

}

.break {
  width: 100%;
  height: 0;
}

.like-btn-label {
  position: absolute !important;
  letter-spacing: 0 !important;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .session-explorer-grid-cont {
    max-width: calc(100% - 32px);
  }
}
