.chord-prog{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1 0;
    background:#ffffff;
}

.chord{
    height:32px;
    width:64px;
    text-align:center;
    margin:8px;
    user-select: none;

}

.active-chord{
    color:rgb(82, 27, 184);
    outline:solid 1px;

}

.selected-chord{
    animation: flashing 0.8s infinite alternate;
  
  }
  
  @keyframes flashing {
    from {background-color: white}
    to {background-color: rgb(255, 102, 0)}
  }

.measure-divider{
    max-height:32px;
    background-color:black !important;
}

