.chord-prog{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex:1 0;
    background:#ffffff;
    height:100%;
}


.measure-divider{
    max-height:32px;
    background-color:black !important;
}

