.chord-prog{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1 0;
    background:#ffffff;
}

.chord{
    height:32px;
    width:64px;
    text-align:center;
    margin:8px;

}

.active-chord{
    color:rgb(82, 27, 184);
    outline:solid 1px;

}