.sampler{
    background-color:"";
    height:calc(100%);
    width:calc(100%);
    overflow:hidden !important;

}

.sampler-cursor{
    position:absolute;
    background-color:white;
    height:100%;
    width:1px;
    top:0px;
 
}