.sequencer{
    display:flex;
    flex-direction: column;
    flex:1 0;


}

.sequencer-row{
    display:flex;
    flex: 1;
    flex-direction: row;

}

.sequencer-tile{
    outline: solid 1px #273379;
    background-color:#3f51b5;
    flex: 1;

}

.active-sequencer-tile{
    background-color:#212c68;

}

.cursor-sequencer-tile{
    filter:brightness(1.1);

}