.sequencer {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.sequencer-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.sequencer-tile {
  flex: 1;
}

.sequencer-bottomnav {
  height: 30px !important;
  justify-self: flex-end;
}

.sequencer-row-label{
    position:absolute;
    text-align:right !important;
    line-height: calc(200%)!important;
    margin-left: -72px !important;
    width:64px;
}
