.oscillator-editor-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50%;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.oscillator-editor-grid-parameters {
  align-content: flex-start !important;
}
