.user-page {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-page-avatar {
  position: absolute !important;
  top: calc(30% - 48px);
  left: calc(50% - 48px);

  height: 96px !important;
  width: 96px !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.user-page-main-content {
  width: 100%;
  padding: 64px 0;
  display: flex;
  flex: 1 0 1px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: white;
}

.user-page-background {
  position: relative;
  flex: 0 0 30%;
  top: 0;
  height: 30% !important;
  width: 100vw !important;
  background: rgb(85, 100, 115);
  background: linear-gradient(
    45deg,
    rgba(63, 81, 181, 0.5) 0%,
    rgba(63, 81, 181, 1) 100%
  );
}

.user-page-info {
  width: calc(100% - 32px) !important;
  max-width: 680px;
  padding: 8px;
  margin: 16px !important;
}

.user-page-sessions-cont {
  position: relative;
  height: 362px;
  width: 100%;
  max-width: 680px;
  margin: 16px !important;
}

.up-fab {
  position: fixed !important;
  bottom: 32px;
  right: 32px;
  z-index: 6;
}
