.audio-file-item{
    width: 20%;
    height:96px;
    margin:8px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;

}

.active-audio-file-item{
    background-color: brown !important;

}
