.instrument-editor {
  background-color: white;
  flex: 1 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  height: 100%;
}

.instrument-editor-patch-select {
  width: calc(100% - 16px);
  margin: 8px;
  height: 32px;
  max-height: 32px;
}

.instrument-editor-column {
  height: calc(100% - 50px);
  width: calc(33.33% - 16px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 8px;
}

.instrument-editor-envelope-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  align-content: flex-end;
  flex-wrap: wrap;
}

.instrument-editor-envelope-label {
  max-height: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.instrument-editor-envelope-slider-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100% - 30px);
  flex-grow: 1;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.instrument-editor-vertical-slider {
  max-height: 200px;
  height: 100% !important ;
  padding: 0 10% !important;
  width: 2px !important;
}

.turnonoff-button {
  height: 16px !important;
  width: 16px !important;
}

.turnonoff-button span {
  font-size: 16px !important;
}

.turnonoff-button * {
  font-size: inherit;
}

.break {
  width: 100%;
  height: 0px;
}
