.instrument-editor {
  background-color: white;
  flex: 1 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.instrument-editor-type-select {
  width: calc(100% - 16px);
  margin: 4px 8px;
  height: 24px;
  max-height: 24px;
}

.instrument-editor-column {
  height: calc(100% - 50px);
  width: calc(33.33% - 16px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 8px;
}

.ie-envelope-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.ie-envelope-label {
  text-align: center;
  position: relative;
  top: -12px;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.562);
  user-select: none;
}

.instrument-editor-envelope-slider-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 64%;
  flex-grow: 1;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.instrument-editor-vertical-slider {
  max-height: 200px;
  height: 100% !important ;
  padding: 0 10% !important;
  width: 2px !important;
}

.ie-drum-cont {
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow-x: hidden;
}

.ie-synth-cont {
  position: relative;
  max-height: 100% !important;
  height: 100%;
  flex: 1 1 1px;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  justify-content: space-between;
}

.ie-synth-compact-item {
  position: relative;
  flex: 1 1 1px;
  margin: 16px !important;
  height: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.ie-synth-fs-item {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  z-index: 1;
  background-color: white;
}

.turnonoff-button {
  height: 16px !important;
  width: 16px !important;
}

.turnonoff-button span {
  font-size: 16px !important;
}

.turnonoff-button * {
  font-size: inherit;
}

.break {
  width: 100%;
  height: 0px;
}
