.oscillator-editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.capitalize::first-letter {
  text-transform: capitalize;
}
