.mixer-channel-strip{
    width:10%;
    height:60%;
    /* outline:1px solid black; */
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    margin:16px;
}

.mixer-channel-strip-title{
    text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}