.mixer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 5;
}
