.file-explorer {
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  background-color: white;
}

.file-explorer-column {
  position: relative;
  flex: 1 1 40%;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-explorer-table {
  overflow-y: scroll;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fet-compact tr {
  transition: background-color 0.1s;
}

.fet-compact tr:hover {
  background-color: #00000012;
  cursor: pointer;
}

.fet-compact {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

.fet-compact button {
  height: 32px !important;
  width: 32px !important;
}

.fet-normal {
  width: 80% !important;
}

.fet-list {
  height: 100% !important;
  width: 100% !important;
}

@media only screen and (max-width: 800px) {
  .file-explorer-table {
    width: 95% !important;
  }
}
