.file-explorer {
  position: absolute;
  width: 100%;

  top: 0;
  flex: 1 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: white;
  overflow-y: scroll;
  padding: 0px 0 128px 0;
}

.file-explorer-compact {
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 !important;
  width: 100%;
}

.file-explorer-table {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: calc(100% - 32px) !important;

  max-width: 1200px;
  top: 0;
}

.fet-compact {
  min-height: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.fet-cont {
  overflow: visible !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 600px;
}
.fet-cont-compact {
  overflow-y: scroll;
  overflow-x: hidden !important;
  min-height: 0;
  flex: 1;
}

.file-explorer-compact-bottom-nav {
  width: 100%;
}

.file-explorer-table tr {
  max-height: 61px;
}

.file-explorer-searchbar {
  width: calc(100% - 32px);
  max-width: 1200px;
  margin: 32px 0px;
}

.file-explorer-searchbar-compact {
  margin: 8px !important;
  max-width: calc(100% - 32px) !important;
}

.fet-chip-cell {
  display: flex !important;
  flex-wrap: nowrap;
}

.fet-user-bottom-nav {
  margin: 16px;
}

.fet-compact tr {
  transition: background-color 0.1s;
  overflow-y: scroll;
  display: table-row !important;
}

.fet-compact td {
  max-height: 16px !important;
}

.fet-compact tr:hover {
  background-color: #00000012;
  cursor: pointer;
}

.fet-compact button {
  height: 32px !important;
  width: 32px !important;
}

/* .fet-normal {
  width: 100% !important;
} */

@media only screen and (max-width: 667px) {
  /* .file-explorer-table {
    width: 95% !important;
  } */

  .fet-collapsable-column-667 {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  /* .file-explorer-table {
    width: 95% !important;
  } */

  .fet-collapsable-column-800 {
    display: none !important;
  }
}

.fe-filename:hover {
  cursor: pointer;
  text-decoration: underline;
}

.MuiTableCell-sizeSmall {
  padding: 6px 8px !important;
}

.fe-fab {
  position: fixed !important;
  bottom: 32px;
  right: 32px;
  z-index: 6;
}
