.ws-grid {
  position: relative;
  /* background-color: black;
     height: 16px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1 1 auto;
  outline: none;
}

.ws-grid-cont {
  margin-top: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 0px;

  flex: 1;
  outline: none;
  display: flex;

  /*   overflow-y: overlay;
  overflow-x: hidden; */
}

.ws-grid-loop {
  /* outline: solid 1px rgba(0, 0, 0, 0.342); */
  min-height: 24px;
}

.ws-grid-track {
  height: 32px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  flex-wrap: nowrap;
}

.ws-grid-track-compact {
  height: 8px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.ws-grid-track-tile {
  height: 100%;
  flex-grow: 0;
}

.ws-grid-track-tile-active {
}

.ws-grid-slider {
  width: calc(100% - 128px) !important;
  margin-left: 16px;
}

.ws-grid-cursor {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.404);
  height: calc(100% - 4px);
  width: 2px;
  top: 0px;
  transition: width 0.3s;
  border-radius: 99px;
  z-index: 2;
  left: 46px;
}

.ws-grid-cursor-compact {
  height: 100% !important;
}

.ws-grid-cursor:hover {
  width: 4px;
  margin-left: -1px;
  cursor: grab;
}

.ws-grid-cursor:hover {
  cursor: grabbing;
}

.ws-grid-line-cont {
  position: absolute;
  height: 100%;
  width: calc(100% - 48px);
  left: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
}

.ws-grid-line {
  position: relative;
  height: 100%;
  width: 1px;
  /*  background-color: black; */
  opacity: 0.6;
  pointer-events: none;
}

.ws-grid-line-mesure-num {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: absolute;
  top: -24px;
  left: 0px;
  pointer-events: none;
  user-select: none;
}
