.chord-editor-fab {
  margin: 8px !important;
  height: 48px !important;
  width: 48px !important;
}

.chord-editor-cont {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.chord-editor-text-input {
  width: 80px !important;
  width: 120px !important;
}

.chord-editor-text-input-cont {
  margin: 32px !important;
  width: 120px !important;
}

.chord-editor-text-input input {
  height: 60px !important;
  font-size: 32px !important;
  text-align: center !important;
}

.correctChord {
  animation-name: correctChord;
  animation-duration: 2s;
}

.nullChord {
  animation-name: nullChord;
  animation-duration: 2s;
}

@keyframes correctChord {
  0% {
    color: green;
  }
  100% {
    color: black;
  }
}

@keyframes nullChord {
  0% {
    color: red;
  }
  100% {
    color: black;
  }
}
