html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

body *::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
  height: 8px;
}

body *::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body *::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196); /* color of the scroll thumb */
  border-radius: 16px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  */
}

/* .app-title {
  position: fixed;
  left: 88px;
  top: 80px;
} */

.app-title {
  margin-left: 16px !important;
  position: relative;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-title-alert {
  font-size: 28px !important;
  margin-left: 16px;
  animation: flashing-alert-icon 4s ease 0s infinite alternate both !important;
}

.app-title > * {
  margin-bottom: 8px;
}

.app-logo {
  margin-left: 16px;
  height: 30px;
}

.app-wrapper {
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  overflow-y: scroll;
  position: relative;
}

.disabled {
  pointer-events: none;
  filter: saturate(0) brightness(1.5);
}

.main-avatar {
  height: 40px;
  width: 40px;
  position: absolute !important;
  right: 32px !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.side-menu-icon {
  height: 24px;
  width: 24px;
  color: white !important;
}

.beta-text {
  text-decoration: wavy;
  text-transform: uppercase;
  font-size: 11px;
  color: #3f51b5;
}

@keyframes flashing-alert-icon {
  0% {
    color: rgba(0, 0, 0, 0.137);
  }
  100% {
    color: rgba(0, 0, 0, 0.493);
  }
}
