html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow-y:overlay

}

.app-title{
  position:fixed;
  left:88px;
  top:16px;

}

.disabled{
  pointer-events: none;
  filter:saturate(0) brightness(1.5);

}

.main-avatar{
  position: fixed !important;
  top: 24px;
  right:32px;
  height: 24px;
  width: 24px 


}

.side-menu-icon{
  position: fixed !important;
  top: 24px;
  left:32px;
  height: 24px;
  width: 24px 

}