html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

/* .app-title {
  position: fixed;
  left: 88px;
  top: 80px;
} */

.app-title {
  margin-left: 16px !important;
  position: absolute;
  top: 24px;
  display: flex;
  align-items: center;
}

.app-title-alert {
  font-size: 28px !important;
  margin-left: 16px;
  animation: flashing-alert-icon 4s ease 0s infinite alternate both !important;
}

.app-logo {
  margin-left: 16px;
  height: 30px;
}

.app-wrapper {
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  overflow-y: scroll;
  position: relative;
}

.disabled {
  pointer-events: none;
  filter: saturate(0) brightness(1.5);
}

.main-avatar {
  height: 24px;
  width: 24px;
  position: absolute !important;
  right: 32px !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.side-menu-icon {
  height: 24px;
  width: 24px;
  color: white !important;
}

@keyframes flashing-alert-icon {
  0% {
    color: rgba(0, 0, 0, 0.137);
  }
  100% {
    color: rgba(0, 0, 0, 0.493);
  }
}
