.module {
  height: 300px;
  width: 400px;
  max-width:90%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /*
    border-radius:12px;
    text-align: center;
    border:1px solid black;
    box-shadow:0 1px 8px rgba(0,0,0,0.25);
    */
}

.module-header {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.module-title {
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: white;
  justify-self: center;

}

.module-instrument-icon-button {
  height: 100%;
}

.hidden {
  display: none;
}

.module-innerwrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
