.module-grid-row-wrapper {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  right: 0;
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}

.module-grid-row {
  position: relative;
  width: calc(100% - 48px);
  flex: 1;
  height: 100%;
  margin-left: 48px;
  right: 0;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.module-inner-row {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closed-track {
  position: relative;
  width: calc(100% - 48px);
  height: 10%;
  margin: 8px 0 8px 48px;
  right: 0;
  transition: all 0.2s;
}
.closed-track-button {
  position: absolute;
  top: calc(50% - 24px);
  left: -48px;
}

.module-inner-row-label {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: absolute !important;
  left: -48px !important;
  width: 48px;
  text-align: left !important;
  user-select: none !important;
  font-size: 18px;
}

.module-inner-row-line {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

.module-score-note {
  position: absolute;
}

.module-score-note-ghost {
  pointer-events: none;
}

.module-score-note-handle {
  height: 100%;
  right: 0;
  position: absolute;
  border-right: 3px;
  width: 6px;
  cursor: e-resize;
  user-select: none;
}

.module-score-note-deletable:hover {
  background-color: rgb(149, 149, 149) !important;
  outline: solid 1px rgb(108, 108, 108) !important;
}

.module-score-note-melody {
  cursor: move;
}
