.module-settings {
    background-color: white;
    flex: 1 0;
    display: flex;
    overflow-y: overlay;
  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
  
  .break {
    width: 100%;
    height: 0px;
  }