.ws-note-input {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 32px 0;
  user-select: none;
  flex-wrap: wrap;
  color: black;
}

.ws-note-input-key-cont {
  position: relative;
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.ws-note-input > * {
  line-height: 1 !important;
}

.ws-note-input-key {
  position: relative;
  height: calc(100% - 8px);
  flex: 1 1 1px;
  outline: 1px solid rgba(0, 0, 0, 0.377);
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.ws-note-input-options {
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
