.workspace {
  position: relative;
  /* background: radial-gradient(#ffffff, #fafaed); */
  width: calc(100% - 16px);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  height: calc(100% - 8px);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  outline: none;
}

.ws-header {
  position: fixed;
  width: calc(100% - 264px);
  left: 136px;
  top: 0;
  height: 64px;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace-title {
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  /*   flex-wrap: wrap;
 */
  text-transform: uppercase;
}

.ws-timeline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.ws-transport {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  width: 100%;
  max-height: 48px;
}

.ws-transport > div {
  display: block;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ws-transport-info {
  flex-direction: column;
  width: 88px;
}

.ws-transport-info > div {
  height: 16px;
  align-items: center;
  display: flex;
}

.ws-transport-info span {
  margin-right: 8px;
}

.ws-ruler {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 32px;
  width: 100%;
  min-height: 16px;
  /* transition: height 0.2s; */
  /* filter: brightness(0.9); */
}

/* .ws-ruler:hover {
  height: 32px;
} */

.ws-ruler-zoom-cont {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  -webkit-user-drag: none;
  z-index: 2;
  outline: solid 1px black;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;
  cursor: move;

  /*  border-right: solid 4px black;
  border-left: solid 4px black;
  filter: brightness(100); */
}

.ws-ruler-zoom-cont-handle {
  position: absolute;
  height: 100%;
  background: rgb(83, 83, 83);
  width: 4px;
  cursor: ew-resize !important;
  -webkit-user-drag: none;
}

.ws-ruler-track {
  width: 100%;
  flex: 1 1 1px;
}

.ws-opt-btn-cont {
  position: fixed !important;
  right: 32px;
  bottom: 176px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  transition: height 0.2s !important;
}

.ws-commands {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
}

/* lewjfenrigfneorjgoernijtgnritgnotngorngrk */

.ws-track-selector {
  height: 100%;
  width: 64px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ws-track-selector > button {
  height: 64px;
}
