.workspace {
  position: relative;
  /* background: radial-gradient(#ffffff, #fafaed); */
  background: white;
  width: calc(100% - 16px);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  outline: none;
}

.ws-header {
  position: fixed;
  width: calc(100% - 264px);
  left: 136px;
  top: 0;
  height: 64px;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace-title {
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.ws-timeline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.ws-transport {
  display: flex;
  justify-content: space-evenly;
  margin: 32px;
  width: 60%;
  min-height: 30px;
}

.ws-transport > div {
  display: block;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5rem;
  flex: 1;
  text-align: center;
}

.ws-ruler {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 32px;
  width: 100%;
  /* transition: height 0.2s; */
  /* filter: brightness(0.9); */
}

/* .ws-ruler:hover {
  height: 32px;
} */

.ws-ruler-zoom-cont {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  -webkit-user-drag: none;
  z-index: 2;
  outline: solid 1px black;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;

  /*  border-right: solid 4px black;
  border-left: solid 4px black;
  filter: brightness(100); */
}

.ws-ruler-zoom-cont-handle {
  position: absolute;
  height: 100%;
  background: rgb(83, 83, 83);
  width: 4px;
  cursor: ew-resize;
  -webkit-user-drag: none;
}

.ws-ruler-track {
  width: 100%;
  flex: 1 1 1px;
}

.workspace-module-cont {
  position: relative;
  /* background: radial-gradient(#ffffff, #fafaed); */
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  align-content: flex-start;
  justify-content: center;
  padding: 0px 0px 96px 0;
  max-width: 1600px;
}

.ws-fab-cont {
  position: fixed !important;
  width: 54px;
  bottom: 32px;
  right: 32px;
  height: 128px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.ws-opt-btn-cont {
  position: fixed !important;
  right: 32px;
  bottom: 176px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  transition: height 0.2s !important;
}

.ws-commands {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
}

.ws-fab-main {
  position: fixed !important;
  z-index: 1111111;
  right: 16px;
  bottom: 16px;
}

.ws-fab-v {
  margin: 8px 0px;
}

.ws-fab-h {
  margin: 0px 8px;
}

/* lewjfenrigfneorjgoernijtgnritgnotngorngrk */

.ws-module-selector {
  height: 100%;
  width: 64px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ws-module-selector > button {
  height: 64px;
}

@media only screen and (max-height: 800px) {
  .ws-transport {
    margin: 8px !important;
  }
}
