.piano-roll {
  display: flex;
  flex-direction: column-reverse;
  top: 0px;

  position: absolute;
  overflow: hidden;
}

.piano-roll-row {
  flex: 0 0 1px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.piano-roll-row-label {
  position: absolute;
}

.piano-roll-row-tile {
  flex: 1 1 1px;
}

.piano-roll-note {
  /* position: absolute; */
  min-height: 30px;
}

.piano-roll-note {
  /* position: absolute; */
  min-height: 30px;
}
