.piano-roll {
  display: flex;
  flex-direction: column-reverse;
  top: 0px;

  position: absolute;
  overflow: hidden;
}

.piano-roll-row {
  flex: 0 0 1px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.piano-roll-row-label {
  position: absolute;
  height: 100% !important;
  align-items: center; /* line-height: 100% !important; */
  display: flex;
  pointer-events: none;
  color: white;
  /* mix-blend-mode: difference;
  filter: saturate(0); */
  width: calc(100% - 8px);
  transition: 0.2s;
  left: 4px;
  user-select: none;
}

.piano-roll-row-tile {
  flex: 1 1 1px;
}

.piano-roll-note {
  /* position: absolute; */
  min-height: 30px;
}

.piano-roll-note {
  /* position: absolute; */
  min-height: 30px;
}
