.mp-item{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    filter:saturate(0);
    cursor:pointer;
    padding:8px;
}

.mp-item > *{
    
    margin:32px 0 32px 0;
}




.mp-item:hover{
    filter:none;


}