.track-picker {
  z-index: 2;
  background-color: white;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.track-picker-select-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.mp-closebtn {
  position: absolute !important;
  top: 8px;
  right: 8px;
}
