.workspace {
  background-color: #282c34;
  /* background: radial-gradient(#ffffff, #fafaed); */
  background:white;
  min-height:100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  align-content: center;
  justify-content: center;
  padding:200px 0 200px 0;
}

.fixed-fab{
  position:fixed !important;
  bottom:32px;
  right:32px;
  z-index:2
}
