.workspace {
  position: relative;
  /* background: radial-gradient(#ffffff, #fafaed); */
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0;

  align-items: center;
  justify-content: flex-start;
}

.workspace-module-cont {
  position: relative;
  /* background: radial-gradient(#ffffff, #fafaed); */
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  align-content: flex-start;
  justify-content: center;
  padding: 0px 0 96px 0;
}

.ws-fab-cont {
  position: fixed !important;
  width: calc(100vw - 64px);
  bottom: 32px;
  right: 32px;
  height: 56px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.ws-fab {
  place-self: center;
}

.ws-fab-copy {
  grid-area: 1/1;
}

.ws-fab-play {
  grid-area: 1/8;
}

.ws-fab-mix {
  grid-area: 1/13;
}

.ws-fab-export {
  grid-area: 1/14;
}

.ws-fab-settings {
  grid-area: 1/15;
}

.ws-fab-save {
  grid-area: 1/2;
}
